!!!5
%html
  %head
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="Keywords" content="las palmas lan, las palmas lan party, canarias lan party, canarias red, lan, lan party, las palmas lan party, ordenadores, video consolas, torneos, torneos canarias" >
    <meta name="Description" content="web del evento las palmas lan, con competiciones de videojuegos de ordenador y consolas." >
    <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1;" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <link rel="icon" type="image/png" href="/images/fav.png" />
    %title
      = data.page.title
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"
  
  %body
    %nav.main-nav#main-nav
      %header.nav-header
        %h1 Menu
      %a{href:"#", data: {bind: "click: GoToNews "}}
        %i.icon-align-justify
        Noticias 
      %a{href:"#", data: {bind: "click: GoToCalendar"}}
        %i.icon-calendar
        Programa
      %a{href:"#", data: {bind: "click: GoToTournaments"}}
        %i.icon-trophy
        Torneos
      %a{href:"#", data: {bind: "click: GoToDisclaimer"}}
        %i.icon-legal
        Aviso legal
      %a{href:"#", data: {bind: "click: GoToInscriptions"}}
        %i.icon-edit
        Inscripciones

    %section.content
      %header.main-header
        %a{href: "#", class: "menu", rel: "apple-touch-icon"}
          %i.icon-reorder
        %h1 Las Palmas Lan
      %article{ data: {bind: "navigation: navigation"}}

      = yield
    %footer
:javascript
   // Define application namespace
  var App = window.App = {};

  // Let ko.navigation know where to look
  ko.navigation.setNamespace(App);

  // Define view model constructors
  App.News = function() {
    this.bookmarkable = true;
    this.title = ko.observable("Las Palmas Lan 2013 | Noticias");
  };

  App.Calendar = function() {
    this.bookmarkable = true;
    this.title = ko.observable("Las Palmas Lan 2013 | Calendario");
  };

  App.Tournaments = function() {
    this.bookmarkable = true;
    this.title = ko.observable("Las Palmas Lan 2013 | Torneos");
  };

  App.Disclaimer = function() {
    this.bookmarkable = true;
    this.title = ko.observable("Las Palmas Lan 2013 | Aviso Legal");
  };

  App.Inscriptions = function() {
    this.bookmarkable = true;
    this.title = ko.observable("Las Palmas Lan 2013 | Inscripciones");
  };

  // We will do ko.applyBindings on the ShellModel
  App.ShellModel = function() {
      var self = this;

      // Store a reference in App.navigation for easy access from other view models
      this.navigation = App.navigation = new ko.navigation.ShellNavigationModel({
          // The vm to initialize with, either an instance or factory/accessor function
          defaultViewModel: new App.News(),
          expiredViewModel: { viewName: "not-found" },
          maxStackSize: 5 // Expire items after a certain point to cap memory usage
      });
      // View model navigation
      this.GoToNews = function() {
          self.navigation.navigateTo(new App.News());
      };

      this.GoToCalendar = function() {
          self.navigation.navigateTo(new App.Calendar());
      };

      this.GoToTournaments = function() {
          self.navigation.navigateTo(new App.Tournaments());
      };

      this.GoToDisclaimer = function() {
          self.navigation.navigateTo(new App.Disclaimer());
      };

      this.GoToInscriptions = function() {
          self.navigation.navigateTo(new App.Inscriptions());
      };
  };

  ko.applyBindings(new App.ShellModel());
