---
title: Las Palmas Lan
---
%article{ data: {bind: "template: { name: post, foreach: posts}"} }
/ post template 
%script{ id: "post", type: "text/html"}
  %header
    %h2{data: {bind: "text: title"}}
  %section{data: {bind: "text: intro"}}
  %footer
    publicado el 
    %span{data: {bind: "text: published_at"}}

