---
title: Las Palmas Lan
---
%article
  %header
    %h2 Estrenamos nueva web
  %section
    Esta es la nueva web de Las Palmas Lan, en ella apareceran tododas las noticias con referencia al próximo evento que vamos a organizar,
    aun estamos bajo construcción, pero estamos trabajando duro para así poder ofrecer el mejor servicio posible.
  %footer
    publicado el 27/12/2012
